
<!-- spinner: only shown while ajax is in progress -->
<span class="spinner" data-ng-show="loading" us-spinner="{radius:30, width:8, length: 16}"></span> 

<div class="container">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<!-- Categories shown for as many that came back -->
			<div class="category" ng-repeat="category in categories">
				
				<!-- clicking toggles "shownCategories[indexOfCategory] true or false -->
				<h2 class="categoryName" ng-click="toggleCategories($index)">{{category.name}}</h2>

				<!-- 
				Values shown for as many as there are in that category 

				Toggle between hidden and shown based on if category index is true or false inside shownCategories
				-->
				<div class="value" ng-repeat="value in category.values" ng-show="shownCategories[$parent.$index]">
					<h4>{{value.header}}</h4>
					<p>{{value.description}}</p>
				</div>
			</div>
		</div>
	</div>
</div>